/* Стилизация аккордеона */
.accordion {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--black);
}

details {
    padding: 31px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--grey-3);
}
details:last-of-type {
    margin-bottom: 0;
}
details[open] summary {
    margin-bottom: 16px;
    color: var(--grey-4);
}

summary::-webkit-details-marker {
    display: none;
}
