.page {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.page__header {
    flex: 0 1 auto;
}

.page__header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
}

.page__main {
    flex: 1 1 auto;
}

.page__footer {
    flex: 0 1 auto;
}
